@import 'variables';
@import 'bootstrap';

.main-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.filter-icon {
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.x-btn-link {
  padding: 0 !important;
  border: none;
}